fastapi
uvicorn
python-dotenv
PyJWT
requests
httpx
langchain
langchain-community
langchain-openai
langchain-postgres
psycopg2-binary
psutil
jieba
opencc-python-reimplemented
docx2txt
ebooklib
beautifulsoup4
lxml
chromadb
SQLAlchemy
pydantic